@import '../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/bootstrap/hero-buttons';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/components/card/card.component.theme';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';
@import '~@nebular/theme/styles/core/mixins';

@include nb-install-component() {

  @include media-breakpoint-down(xs) {
    button:not(.btn-icon) {
      padding: 0.75rem 1rem;
      font-size: 0.75rem;
    }
  } 



}
