<nb-layout>
  <nb-layout-column style="background-color: rgba(0,82,150,1);">

    <!-- <nb-card-header>
      <h2 class="title">Login</h2>
      <small class="form-text sub-title">Hola! Ingresa con tu Email y Password</small>
    </nb-card-header> -->
    <nb-card style="background-color: rgba(255,255,255,1);">
      <nb-card-body style="overflow-x: scroll;">
        <div class="container h-100" style="color: rgba(0,0,0,1);">

          <div class="row">
            <div class="col-12" >
              <div style="text-align: center;">

                <img *ngIf="base64Image" [src]="base64Image">

                <br><br>

                <button class="btn btn-hero-success" title="Get QR" (click)="getQR()">Get QR</button>

              </div>
            </div>   
            <div class="col-12" >
              <div style="text-align: center;">

                <img *ngIf="base64Image2" [src]="base64Image2">

                <br><br>

                <button class="btn btn-hero-success" title="Get QR2" (click)="getQR2()">Get QR2</button>

              </div>
            </div>
          </div>
          
        </div>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>



<toaster-container [toasterconfig]="config"></toaster-container>

<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '4px' }"></ngx-loading>
</div> 



  