<nb-layout>
  <nb-layout-column style="background-color: rgba(0,82,150,1);">

    <!-- <nb-card-header>
      <h2 class="title">Login</h2>
      <small class="form-text sub-title">Hola! Ingresa con tu Email y Password</small>
    </nb-card-header> -->
    <nb-card style="background-color: rgba(255,255,255,1);">
      <nb-card-body style="overflow-x: scroll;">
        <div class="container h-100" style="color: rgba(0,0,0,1);">

          <div *ngIf="tipo == 1" class="d-none d-sm-none d-md-block">
            <div class="row">
              <div class="col-12"> 
                <img class="img-fluid" src="assets/images/acrilicosTijuana.jpeg" alt="" style="max-width: 15% !important;">    
              </div>
            </div>
          </div>
          <div *ngIf="tipo == 1" class="d-block d-sm-block d-md-none">
            <div class="row">
              <div class="col-12"> 
                <img class="img-fluid" src="assets/images/acrilicosTijuana.jpeg" alt="" style="max-width: 30% !important;">    
              </div>
            </div>
          </div>

          <div class="row">
            <!-- <div *ngIf="tipo == 1" class="col-6"> 
              <img class="img-fluid" src="assets/images/acrilicosTijuana.jpeg" alt="" style="max-width: 50% !important;">    
            </div> -->
            <div *ngIf="tipo == 2" class="col-6"> 
              <img class="img-fluid" src="assets/images/MEXICANSHOPPER.png" alt="" style="max-width: 30% !important;">    
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12" >
              <strong>ORDEN:</strong>
               {{cotizacion_id}}
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12" >
              <strong>STATUS:</strong>
              <div style="display: inline-block;" [ngStyle]="{'color': pago_user === 'Pagada' ? '#c71717' : '' }">{{pago_user}}</div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12" >
              <strong>FECHA:</strong>
               {{fecha | date:'dd/MM/yyyy'}}
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12" >
              <strong>CLIENTE:</strong>
               {{cliente}}
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-12"> 
              <strong>DESCRIPCIÓN DEL SERVICIO SOLICITADO</strong>    
            </div>
          </div>
          <br>
        
          <div class="row">
            <div class="col-12">
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th scope="col">DESCRIPCIÓN</th>
                    <th scope="col">IMPORTE</th>  
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of gastos; index as i">
                    <td><pre>{{item.descripcion}}</pre></td>
                    <td>{{item.importe | number: '1.2-2'}}</td>
                  </tr>
                  <tr *ngIf="tipo == 2">
                    <td style="text-align: right;">
                      <strong>SUBTOTAL</strong>
                    </td>
                    <td>
                      {{subtotal | number: '1.2-2'}} {{moneda}}
                    </td>
                  </tr>
                  <tr *ngIf="tipo == 2">
                    <td style="text-align: right;">
                      <strong>ENVÍO</strong>
                    </td>
                    <td>
                      {{envio | number: '1.2-2'}} {{moneda}}
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align: right;">
                      <strong>TOTAL</strong>
                    </td>
                    <td>
                      {{total | number: '1.2-2'}} {{moneda}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <br>
          <div [hidden]="pago_user === 'Pagada'" class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
              <div style="text-align: center;">

                <div id="paypal-button"
                  style="height: 40px;
                      min-height: 45px;
                      max-height: 75px;
                      display: inline-block;" 
                ></div> 

              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
              <div style="text-align: center;">

                <button *ngIf="moneda === 'MXN'" style="display: inline-block;" class="btn btn-hero-success" title="Crédito/Débito" (click)="open(modalPagoTarjeta);initPagoConekta()">Crédito/Débito</button>

                <button *ngIf="moneda === 'USD'" style="display: inline-block;" class="btn btn-hero-success" title="Crédito/Débito" (click)="initPagoStripe(modalPagoTarjeta2)">Crédito/Débito</button>

              </div>
            </div>
          </div>

          <br>
          <div *ngIf="tipo == 1" class="d-none d-sm-none d-md-block">
            <div class="row">
              <div class="col-12" style="text-align: center;"> 
                <img class="img-fluid" src="assets/images/portada_internow.jpg" alt="" style="max-width: 40% !important;">    
              </div>
            </div>
          </div>
          <div *ngIf="tipo == 1" class="d-block d-sm-block d-md-none">
            <div class="row">
              <div class="col-12" style="text-align: center;"> 
                <img class="img-fluid" src="assets/images/portada_internow.jpg" alt="" style="max-width: 100% !important;">    
              </div>
            </div>
          </div>
          <div *ngIf="tipo == 2" class="d-none d-sm-none d-md-block">
            <div class="row">
              <div class="col-12" style="text-align: center;"> 
                <img class="img-fluid" src="assets/images/portada_shopper.png" alt="" style="max-width: 40% !important;">    
              </div>
            </div>
          </div>
          <div *ngIf="tipo == 2" class="d-block d-sm-block d-md-none">
            <div class="row">
              <div class="col-12" style="text-align: center;"> 
                <img class="img-fluid" src="assets/images/portada_shopper.png" alt="" style="max-width: 100% !important;">    
              </div>
            </div>
          </div>
          

        </div>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>

<ng-template #modalPagoTarjeta let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Pago con Crédito/Débito: </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <!-- <div class="row">
      <div class="col-12" >
        <small class="bold" style="color: #dc3545 !important;">
          En pago con tarjeta se tiene un incremento del 4%
        </small>
      </div>
    </div>
    <br> -->

    <form autocomplete="off" [formGroup]="paymentForm">
      <div class="row">
        <div class="col-12 form-group">
          <label>Nombre del titular</label>
          <input type="text" class="form-control" id="name" placeholder="Como aparece en la tarjeta" formControlName="name" [ngStyle]="{'border': formErrors.name ? '1px solid #c71717' : '2px solid #dadfe6' }">
        </div>
        <div class="col-12 form-group">
          <label>Número de tarjeta</label>
          <input type="number" class="form-control" id="numero" formControlName="number" [ngStyle]="{'border': formErrors.number ? '1px solid #c71717' : '2px solid #dadfe6' }">
        </div>
      </div>
      <div class="row">
        <div class="col-12 form-group">
          <label>Fecha de expiración</label>
        </div>
      </div>  
      <div class="row" style="margin-top: -44px;">
        <div class="col-4 form-group">
          <label>&nbsp;</label>
          <input type="number" class="form-control" id="exp_month" placeholder="Mes (2 dígitos)" formControlName="exp_month" [ngStyle]="{'border': formErrors.exp_month ? '1px solid #c71717' : '2px solid #dadfe6' }">
        </div>
        <div class="col-4 form-group">
          <label>&nbsp;</label>
          <input type="number" class="form-control" id="exp_year" placeholder="Año (2 dígitos)" formControlName="exp_year" [ngStyle]="{'border': formErrors.exp_year ? '1px solid #c71717' : '2px solid #dadfe6' }">
        </div>
        <div class="col-4 form-group">
          <label>CVV</label>
          <input type="number" class="form-control" id="cvc" placeholder="123" formControlName="cvc" [ngStyle]="{'border': formErrors.cvc ? '1px solid #c71717' : '2px solid #dadfe6' }">
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-12 form-group">
          <label>¿Deseas guardar la información de tu tarjeta para próximas compras?</label>
          <br>
          <nb-checkbox formControlName="check">Guarda tarjeta</nb-checkbox>
        </div>
      </div> -->
      
    </form>
    
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-tn btn-secondary" (click)="c('Close click')" #btnAtras id="btnAtras">Atrás</button>
    <button type="button" class="btn btn-tn btn-primary" (click)="pagar(paymentForm)">Pagar</button>
  </div>
</ng-template>

<ng-template #modalPagoTarjeta2 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Pago con Crédito/Débito: </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

   <div class="credit-card" 
    style="
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;">
     <div>
       <div #cardInfo id='cardInfo'></div>
       <br>
       <div class="error" *ngIf="cardError" style="color: #c71717;">
         {{cardError}}
       </div>
     </div>
   </div>
    
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-tn btn-secondary" (click)="c('Close click')" #btnAtras2 id="btnAtras2">Atrás</button>
    <button type="button" class="btn btn-tn btn-primary" (click)="setTokenStripe()">Pagar</button>
  </div>
</ng-template>

<toaster-container [toasterconfig]="config"></toaster-container>

<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '4px' }"></ngx-loading>
</div> 



  