@import '../../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/components/card/card.component.theme';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';
@import '~@nebular/theme/styles/core/mixins';

@include nb-install-component() {

  nb-card-body {
    overflow: visible;
  }

  .input-group {
    margin-bottom: 1rem;
  }

  .form-group label {
    padding: 0 0 0.75rem;
  }

  .text-invalid {
    color: #dc3545 !important;
  }

  .control-invalid {
    border-color: #dc3545 !important;
  }

  .input-color {
    color: rgba(0,0,0,1);
    background-color: rgba(231,227,227,1);
  }

  .show-grid {
    .row {
      margin: -0.5rem;
    }

    div[class^=col-] {
      padding: 0.5rem;
      box-sizing: border-box;

      div {
        text-align: center;
        background-color: nb-theme(color-bg-active);
        padding: 0.75rem 0.25rem;
        border-radius: 0.25rem;
      }
    }
  }

  .grid-h {
    margin-top: 1.5rem;

    &:first-child {
      margin-top: 0;
    }
  }

  .danger{
    border: 1px solid #c71717;
  }

  @include media-breakpoint-down(xs) {
    nb-tabset /deep/ul {
      font-size: 1rem;
      padding: 0 0.25rem;
    }
  }

  


}
