<br>
<div class="row">
  <div class="col-12" style="text-align: right">
    <button style="display: inline-block;" type="button" class="btn btn-icon btn-tn btn-primary" title="Refresh" (click)="getData()"> <i class="fa fa-refresh icon-refresh"></i>
    </button>
  </div>
</div>

<br>
<div class="row">
  <div class="col">    
    <div style="text-align: right;">
      <button *ngIf="tipo == 1" style="display: inline-block;" class="btn btn-icon btn-tn btn-primary" title="Cotizar Internow" (click)="initOrden()">Cotizar
      </button>
      <button *ngIf="tipo == 2" style="display: inline-block;" class="btn btn-icon btn-tn btn-primary" title="Cotizar Mexican Shopper" (click)="initOrden()">Cotizar Mexican Shopper
      </button>
    </div>
  </div>
</div>

<br>
<div class="row">
  <div class="col-12"> 
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
           <th >Id</th>
           <th >Fecha</th>
           <th >Hora</th>
           <th >Cliente</th>
           <th >Teléfono</th>
           <th >Total</th>
           <th *ngIf="tipo == 2">WhatsApp de seguimiento</th>
           <th >Link</th>
           <th >Pago User</th>
           <th >Pago</th>
           <th >Orden</th>
           <th></th>
           <th></th>
          </tr>
        </thead>  
        <tbody>
           <tr *ngFor="let item of cotizaciones" >
              
              <td >{{item.id}}</td>
              <td >{{item.created_at | date:'dd/MM/yyyy'}}</td>
              <td >{{item.created_at | date:'hh:mm:ss'}}</td>
              <td >{{item.cliente}}</td>
              <td >{{item.telefono}}</td>
              <td >{{item.total | number: '1.2-2'}} {{item.moneda}}</td>
              <td *ngIf="tipo == 2">

                <button type="button" class="btn btn-icon btn-sm btn-whatsapp-green" title="WhatsApp de seguimiento" (click)="enviarWsSeguimiento(item)">
                  <i class="fa fa-commenting-o" aria-hidden="true"></i>
                </button>

              </td>
              <td >

                <button type="button" class="btn btn-icon btn-sm btn-whatsapp-green" title="Enviar Link" (click)="enviarLink(item)">
                  <i class="fa fa-commenting-o" aria-hidden="true"></i>
                </button>

              </td>
              <td [ngStyle]="{'color': item.pago === 'Pagada' ? '#c71717' : '' }">{{item.pago_user}}</td>
              <td [ngStyle]="{'color': item.pago === 'Pagada' ? '#c71717' : '' }">
                {{item.pago}}
                <div *ngIf="item.pago === 'No Pagada' ">
                  <button type="button" class="btn btn-primary btn-icon btn-sm btn-table" title="Pagar" (click)="openModalPassGeneral(1); aPagar(item)">
                    <i class="fa fa-credit-card" aria-hidden="true"></i>
                  </button>
                </div>
              </td>
              <td >
                <button type="button" class="btn btn-primary btn-icon btn-sm" title="Imprimir Orden" (click)="detalleOrden(item,modalOrdenDetalle,1)">
                  <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                </button>
              </td>
              <td >
                <button type="button" class="btn btn-primary btn-icon btn-sm" title="Editar Orden" (click)="detalleOrden(item,modalOrdenEdit,2)">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </button>
              </td>
              <td>
                <button type="button" class="btn btn-primary btn-icon btn-sm btn-table" title="Finalizar" (click)="openModalPassGeneral(2); aFinalizar(item)">
                  <i class="ion-arrow-right-c"></i>
                </button>
              </td>

           </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #modalOrden let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Cotizar Orden: </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="height: 70vh; overflow-y: scroll; overflow-x: scroll;">
    
    <div class="row">
      <div class="col-12"> 
          <strong>FECHA:</strong> {{fecha}}     
      </div>
    </div>

    <div class="row">
      <div class="col-12 form-group">
        <label for="cliente"><strong>NOMBRE DE CLIENTE:</strong></label>
        <input type="text" class="form-control" id="cliente" placeholder="Cliente" [(ngModel)]="cliente" >
      </div>
      <div class="col-12 form-group">
        <label for="telefono"><strong>TELÉFONO DE CLIENTE:</strong></label>
        <input type="text" class="form-control" id="telefono" placeholder="Teléfono" [(ngModel)]="telefono" maxlength="15">
      </div>
      <div class="col-12 form-group">
        <label for="email"><strong>EMAIL DE CLIENTE:</strong></label>
        <input type="text" class="form-control" id="email" placeholder="Email" [(ngModel)]="email">
      </div>
      <div class="col-12 form-group">
        <label for="moneda">MONEDA</label>
        <select class="form-control" id="moneda" [(ngModel)]="moneda_aux" (change)="setMoneda($event.target.value)">
          <option [value]="1" >MXN</option>
          <option [value]="2" >USD</option>
        </select>
      </div>
      <div *ngIf="tipo == 2" class="col-12 form-group">
        <label for="envio"><strong>ENVÍO:</strong></label>
        <input type="number" class="form-control" id="envio" placeholder="Costo de envío" [(ngModel)]="envio" min="0">
      </div>
    </div>

    <div class="row">
      <div class="col-12"> 
        <strong>DESCRIPCIÓN DEL SERVICIO SOLICITADO</strong>    
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-12 form-group">
        <textarea id="textarea-input" name="textarea-input" rows="5" class="form-control" placeholder="Descripción..." [(ngModel)]="gasto_descripcion" maxlength="500"></textarea>
      </div>
      <div class="col-8 form-group">
        <input type="number" class="form-control" placeholder="Gasto" [(ngModel)]="gasto" id="gasto" min="0">
      </div>
      <div class="col-4 form-group">
        <button type="button" class="btn btn-tn btn-outline-danger" (click)="addGastoPedido()" title="Agregar">+</button>
      </div>
    </div>
    <br>

    <table class="table table-sm">
      <thead>
        <tr>
          <th></th>
          <th scope="col">DESCRIPCIÓN</th>
          <th scope="col">IMPORTE</th>  
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of gastos; index as i">
          <td>
            <button type="button" class="btn btn-tn btn-outline-danger" (click)="clearGastoPedido(i,item)" title="Eliminar">x</button>
          </td>
          <td><pre>{{item.descripcion}}</pre></td>
          <td>{{item.importe | number: '1.2-2'}}</td>
        </tr>
        <tr *ngIf="tipo == 2">
          <td></td>
          <td style="text-align: right;">
            <strong>SUBTOTAL</strong>
          </td>
          <td>
            {{subtotal | number: '1.2-2'}} {{moneda}}
          </td>
        </tr>
        <tr *ngIf="tipo == 2">
          <td></td>
          <td style="text-align: right;">
            <strong>ENVÍO</strong>
          </td>
          <td>
            {{envio | number: '1.2-2'}} {{moneda}}
          </td>
        </tr>
        <tr>
          <td></td>
          <td style="text-align: right;">
            <strong>TOTAL</strong>
          </td>
          <td>
            {{total | number: '1.2-2'}} {{moneda}}
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-tn btn-secondary" (click)="c('Close click')" #btnAtras id="btnAtras">Atrás</button>
    <button type="button" class="btn btn-tn btn-danger" (click)="crearCotizacion()">Generar cotización</button>
  </div>
</ng-template>

<ng-template #modalOrdenDetalle let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Orden: </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="height: 70vh; overflow-y: scroll; overflow-x: scroll;">
    
    <div class="row">
      <div class="col-12"> 
          <strong>FECHA:</strong> {{fecha | date:'dd/MM/yyyy'}}     
      </div>
    </div>

    <div class="row">
      <div class="col-12 form-group">
        <label for="cliente"><strong>NOMBRE DE CLIENTE:</strong></label>
        <input type="text" class="form-control" id="cliente" placeholder="Cliente" [(ngModel)]="cliente" >
      </div>
      <div class="col-12 form-group">
        <label for="telefono"><strong>TELÉFONO DE CLIENTE:</strong></label>
        <input type="text" class="form-control" id="telefono" placeholder="Teléfono" [(ngModel)]="telefono" maxlength="15">
      </div>
      <div class="col-12 form-group">
        <label for="email"><strong>EMAIL DE CLIENTE:</strong></label>
        <input type="text" class="form-control" id="email" placeholder="Email" [(ngModel)]="email">
      </div>
      <div *ngIf="tipo == 2" class="col-12 form-group">
        <label for="envio"><strong>ENVÍO:</strong></label>
        <input type="number" class="form-control" id="envio" placeholder="Costo de envío" [(ngModel)]="envio" min="0">
      </div>
    </div>

    <div class="row">
      <div class="col-12"> 
        <strong>DESCRIPCIÓN DEL SERVICIO SOLICITADO</strong>    
      </div>
    </div>
    <br>

    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">DESCRIPCIÓN</th>
          <th scope="col">IMPORTE</th>  
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of gastos; index as i">
          <td><pre>{{item.descripcion}}</pre></td>
          <td>{{item.importe | number: '1.2-2'}}</td>
        </tr>
        <tr *ngIf="tipo == 2">
          <td style="text-align: right;">
            <strong>SUBTOTAL</strong>
          </td>
          <td>
            {{subtotal | number: '1.2-2'}} {{moneda}}
          </td>
        </tr>
        <tr *ngIf="tipo == 2">
          <td style="text-align: right;">
            <strong>ENVÍO</strong>
          </td>
          <td>
            {{envio | number: '1.2-2'}} {{moneda}}
          </td>
        </tr>
        <tr>
          <td style="text-align: right;">
            <strong>TOTAL</strong>
          </td>
          <td>
            {{total | number: '1.2-2'}} {{moneda}}
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-tn btn-secondary" (click)="c('Close click')" #btnAtras2 id="btnAtras2">Atrás</button>
    <button type="button" class="btn btn-tn btn-danger" (click)="print()">PDF</button>
  </div>
</ng-template>

<ng-template #modalOrdenEdit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Editar Orden: </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click');getData()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="height: 70vh; overflow-y: scroll; overflow-x: scroll;">
    
    <div class="row">
      <div class="col-12"> 
          <strong>FECHA:</strong> {{fecha}}     
      </div>
    </div>

    <div class="row">
      <div class="col-12 form-group">
        <label for="cliente"><strong>NOMBRE DE CLIENTE:</strong></label>
        <input type="text" class="form-control" id="cliente" placeholder="Cliente" [(ngModel)]="cliente" >
      </div>
      <div class="col-12 form-group">
        <label for="telefono"><strong>TELÉFONO DE CLIENTE:</strong></label>
        <input type="text" class="form-control" id="telefono" placeholder="Teléfono" [(ngModel)]="telefono" maxlength="15">
      </div>
      <div class="col-12 form-group">
        <label for="email"><strong>EMAIL DE CLIENTE:</strong></label>
        <input type="text" class="form-control" id="email" placeholder="Email" [(ngModel)]="email">
      </div>
      <div class="col-12 form-group">
        <label for="moneda">MONEDA</label>
        <select class="form-control" id="moneda" [(ngModel)]="moneda_aux" (change)="setMoneda($event.target.value)">
          <option [value]="1" >MXN</option>
          <option [value]="2" >USD</option>
        </select>
      </div>
      <div *ngIf="tipo == 2" class="col-12 form-group">
        <label for="envio"><strong>ENVÍO:</strong></label>
        <input type="number" class="form-control" id="envio" placeholder="Costo de envío" [(ngModel)]="envio" min="0">
      </div>
    </div>

    <div class="row">
      <div class="col-12"> 
        <strong>DESCRIPCIÓN DEL SERVICIO SOLICITADO</strong>    
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-12 form-group">
        <textarea id="textarea-input" name="textarea-input" rows="5" class="form-control" placeholder="Descripción..." [(ngModel)]="gasto_descripcion" maxlength="500"></textarea>
      </div>
      <div class="col-8 form-group">
        <input type="number" class="form-control" placeholder="Gasto" [(ngModel)]="gasto" id="gasto" min="0">
      </div>
      <div class="col-4 form-group">
        <button type="button" class="btn btn-tn btn-outline-danger" (click)="addGastoPedidoEdit()" title="Agregar">+</button>
      </div>
    </div>
    <br>

    <table class="table table-sm">
      <thead>
        <tr>
          <th></th>
          <th scope="col">DESCRIPCIÓN</th>
          <th scope="col">IMPORTE</th>  
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of gastos; index as i">
          <td>
            <button type="button" class="btn btn-tn btn-outline-danger" (click)="clearGastoPedidoEdit(i,item)" title="Eliminar">x</button>
          </td>
          <td><pre>{{item.descripcion}}</pre></td>
          <td>{{item.importe | number: '1.2-2'}}</td>
        </tr>
        <tr *ngIf="tipo == 2">
          <td></td>
          <td style="text-align: right;">
            <strong>SUBTOTAL</strong>
          </td>
          <td>
            {{subtotal | number: '1.2-2'}} {{moneda}}
          </td>
        </tr>
        <tr *ngIf="tipo == 2">
          <td></td>
          <td style="text-align: right;">
            <strong>ENVÍO</strong>
          </td>
          <td>
            {{envio | number: '1.2-2'}} {{moneda}}
          </td>
        </tr>
        <tr>
          <td></td>
          <td style="text-align: right;">
            <strong>TOTAL</strong>
          </td>
          <td>
            {{total | number: '1.2-2'}} {{moneda}}
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-tn btn-secondary" (click)="c('Close click');getData()" #btnAtras3 id="btnAtras">Atrás</button>
    <button type="button" class="btn btn-tn btn-danger" (click)="editarCotizacion()">Editar cotización</button>
  </div>
</ng-template>

<div id='print-section' [hidden]="true" #content_print style="width: 720px; margin: auto;">
  <img src="assets/images/ordenInternow/BARRA-SUPERIOR.png" style="width: 100%;height: 140px;"> 
  <div style="padding: 0px 65px; color: #153160;">

    <div class="row">
      <div class="col-sm-12"> 
        <strong>FECHA:</strong> {{fecha}}     
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12"> 
          <strong>NOMBRE DE CLIENTE:</strong> {{cliente}}     
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12" style="text-align: center;"> 
        <p>Somos una empresa que se dedica a prestar diversos servicios digitales. Ofrecemos garantía, excelente atención y confianza. A continuación le presentamos la propuesta de INTERNOW.</p>  
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12" style="text-align: center;"> 
        <strong>DESCRIPCIÓN DEL SERVICIO SOLICITADO</strong>    
      </div>
    </div>
    <br>

    <table class="table table-sm" style="width: 100%; color: #153160;">
      <thead>
        <tr>
          <th scope="col">DESCRIPCIÓN</th>
          <th scope="col">IMPORTE</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of gastos;let impar = odd;" [ngStyle]="impar?{'background-color': '#ffffff'} : {'background-color': '#f5f5f5'}" style="font-size: 12px;height: 25px;">
          <td><pre>{{item.descripcion}}</pre></td>
          <td>{{item.importe | number: '1.2-2'}}</td>
        </tr>
        <tr style="height: 25px;">
          <td style="text-align: right;"><strong>TOTAL</strong></td>
          <td>{{total | number: '1.2-2'}} <small>{{moneda}}</small></td>
        </tr>
      </tbody>
    </table>
    
    <div class="row">
      <div class="col-sm-12"> 
        <p style="font-weight: bold; text-align: center;">
          La presente cotización cuenta con <strong>garantía INTERNOW.</strong> Nos hacemos responsables del trabajo realizado y culminar con éxito lo solicitado en este documento.
        </p>     
      </div>
    </div> 
  </div>
  <img src="assets/images/ordenInternow/BARRA-INFERIOR.png" style="width: 100%;height: 120px;">
</div>

<div id='print-sectionB' [hidden]="true" #content_printB style="width: 720px; margin: auto;">
  <img src="assets/images/ordenMexican/BARRASUPERIORMEXICAN.png" style="width: 100%;height: 140px;"> 
  <div style="padding: 0px 65px; color: #153160;">

    <div class="row">
      <div class="col-sm-12"> 
        <strong>FECHA:</strong> {{fecha}}     
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12"> 
          <strong>NOMBRE DE CLIENTE:</strong> {{cliente}}     
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12" style="text-align: center;"> 
        <p>Somos una empresa que se dedica a la exportación deproductos mexicanos. Ofrecemos calidad, variedad y sabor. A continuación le presentamos la propuesta de MEXICAN SHOPPER.</p>  
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12" style="text-align: center;"> 
        <strong>DESCRIPCIÓN DEL SERVICIO SOLICITADO</strong>    
      </div>
    </div>
    <br>

    <table class="table table-sm" style="width: 100%; color: #153160;">
      <thead>
        <tr>
          <th scope="col">DESCRIPCIÓN</th>
          <th scope="col">IMPORTE</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of gastos;let impar = odd;" [ngStyle]="impar?{'background-color': '#ffffff'} : {'background-color': '#f5f5f5'}" style="font-size: 12px;height: 25px;">
          <td><pre>{{item.descripcion}}</pre></td>
          <td>{{item.importe | number: '1.2-2'}}</td>
        </tr>
        <tr style="height: 25px;">
          <td style="text-align: right;"><strong>SUBTOTAL</strong></td>
          <td>
            {{subtotal | number: '1.2-2'}} <small>{{moneda}}</small>
          </td>
        </tr>
        <tr style="height: 25px;">
          <td style="text-align: right;"><strong>ENVÍO</strong></td>
          <td>
            {{envio | number: '1.2-2'}} <small>{{moneda}}</small>
          </td>
        </tr>        
        <tr style="height: 25px;">
          <td style="text-align: right;"><strong>TOTAL</strong></td>
          <td>
            {{total | number: '1.2-2'}} <small>{{moneda}}</small>
          </td>
        </tr>
      </tbody>
    </table>
    
    <div class="row">
      <div class="col-sm-12"> 
        <p style="font-weight: bold; text-align: center;">
          La presente cotización cuenta con <strong>garantía MEXICAN SHOPPER.</strong> Nos hacemos responsables del trabajo realizado y culminar con éxito lo solicitado en este documento.
        </p>     
      </div>
    </div> 
  </div>
  <img src="assets/images/ordenMexican/BARRAINFERIORMEXICAN.png" style="width: 100%;height: 120px;">
</div>

<ng-template #modalPagar let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Pagar Orden: </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>¿Realmente desea marcar la orden {{pagar_id}} como pagada?</p>
    <br>
    <div class="form-group">
      <input type="password" placeholder="Password" class="form-control" [(ngModel)]="password_operador" maxlength="20" />
    </div>

    <div class="row">
      <div class="col-md-12">
        <label for="imagen">Comprobante</label>
        <input type="file" name="imagen" id="imagen" (change)="onFileChange($event)" #fileInput accept="image/*">
      </div>
    </div>
    <br>
    <div *ngIf="comprobante_pago" class="row">
      <div class="col-md-12">
        <img src="{{comprobante_pago}}" alt="" width="200" height="200">
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancelar</button>
    <button type="button" class="btn btn-danger" (click)="c('Close click'); validarPassOperador()" [disabled]="!password_operador || !comprobante_pago">Aceptar</button>
  </div>
</ng-template>

<ng-template #modalFinalizar let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Finalizar Orden: </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>¿Realmente desea finalizar la orden {{finalizar_id}}?</p>
    <br>
    <div class="form-group">
      <input type="password" placeholder="Password" class="form-control" [(ngModel)]="password_operador" maxlength="20" />
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancelar</button>
    <button type="button" class="btn btn-danger" (click)="c('Close click'); validarPassOperador()" [disabled]="!password_operador">Aceptar</button>
  </div>
</ng-template>

<ng-template #modalPassGeneral id="modalPassGeneral" let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Password general: </h4>
  </div>
  <div class="modal-body">
    
    <div class="form-group">
      <input type="password" placeholder="Password" class="form-control" [(ngModel)]="password_general" maxlength="20" />
    </div>
    
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancelar</button>
    <button type="button" class="btn btn-danger" (click)="c('Close click'); validarPassGeneral()" [disabled]="!password_general">Aceptar</button>
  </div>
</ng-template>

<ng-template #modalPassOperador id="modalPassOperador" let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Password de Operador: </h4>
  </div>
  <div class="modal-body">
    
    <div class="form-group">
      <input type="password" placeholder="Password" class="form-control" [(ngModel)]="password_operador" maxlength="20" />
    </div>
    
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancelar</button>
    <button type="button" class="btn btn-danger" (click)="c('Close click'); validarPassOperador()" [disabled]="!password_operador">Aceptar</button>
  </div>
</ng-template>

<toaster-container [toasterconfig]="config"></toaster-container>

<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '4px' }"></ngx-loading>
</div>
