

.btn-whatsapp-green {
  color: rgb(232, 230, 227);
  background-color: #25D366;
  border-color: #25D366;
}

.btn-whatsapp-orange {
  color: rgb(232, 230, 227);
  background-color: #d35c25;
  border-color: #d35c25;
}