<div class="row">
  <div class="col-12">

    <nb-card>
      <nb-card-header>Publicaciones</nb-card-header>
      <nb-card-body>

        <br>
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a [ngClass]="{'nav-item nav-link active': selectedTab1, 'nav-item nav-link': !selectedTab1}"
                style="cursor: pointer;" id="nav-tab1" data-toggle="tab"
                role="tab" aria-controls="nav-1" aria-selected="true"
                (click)="selectTab(1)">
              Nueva publicación
            </a>
            <a [ngClass]="{'nav-item nav-link active': selectedTab2, 'nav-item nav-link': !selectedTab2}"
                style="cursor: pointer;" id="nav-tab2" data-toggle="tab"
                role="tab" aria-controls="nav-2" aria-selected="true"
                (click)="selectTab(2)">
              Publicaciones ({{count_publications}})
            </a>
            <a [ngClass]="{'nav-item nav-link active': selectedTab3, 'nav-item nav-link': !selectedTab3}"
                style="cursor: pointer;" id="nav-tab3" data-toggle="tab"
                role="tab" aria-controls="nav-3" aria-selected="true"
                (click)="selectTab(3)">
              Catálogo
            </a>
          </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">
          <div [ngClass]="{'tab-pane fade show active': selectedTab1, 'tab-pane fade': !selectedTab1}"
            id="nav-1" role="tabpanel" aria-labelledby="nav-tab1">
            <br>
            <app-crear
              [idPublicacionEdit]="idPublicacionParaEditar"
              (edicionFinalizadaEvent)="onEdicionFinalizada()"
            ></app-crear>
          </div>
          <div [ngClass]="{'tab-pane fade show active': selectedTab2, 'tab-pane fade': !selectedTab2}"
            id="nav-2" role="tabpanel" aria-labelledby="nav-tab2">
            <br>
            <app-lista 
              (cont_publications_event)="count_publications = $event"
              (editarPublicacionEvent)="onSolicitarEditar($event)"
            ></app-lista>
          </div>
          <div [ngClass]="{'tab-pane fade show active': selectedTab3, 'tab-pane fade': !selectedTab3}"
            id="nav-3" role="tabpanel" aria-labelledby="nav-tab3">
            <br>
            <app-catalogo></app-catalogo>
          </div>
        </div>

      </nb-card-body>
    </nb-card>

  </div>
</div>

<toaster-container [toasterconfig]="config"></toaster-container>

<div class="my-container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '4px' }"></ngx-loading>
</div>