.whatsapp-card {
  border-top: 5px solid #25D366; /* Verde WhatsApp */
  border-radius: 8px;
}

/* Opcional por si necesitas centrar el spinner verticalmente con el texto */
.spinner-border-sm {
  vertical-align: middle;
}