<!-- <ngx-electricity class=""></ngx-electricity> -->

<!-- <ngx-contacts class=""></ngx-contacts>

<ngx-kitten class=""></ngx-kitten> -->

<!-- <ngx-rooms class=""></ngx-rooms> -->

<!-- <ngx-security-cameras class=""></ngx-security-cameras> -->

<ngx-solar class=""></ngx-solar>

<!-- <ngx-status-card class=""></ngx-status-card> -->

<!-- <ngx-team class=""></ngx-team> -->

<!-- <ngx-temperature class=""></ngx-temperature> -->

<!-- <ngx-traffic class=""></ngx-traffic> -->

<!-- <ngx-weather class=""></ngx-weather> -->

<!-- <ngx-chartjs-bar-horizontal class=""></ngx-chartjs-bar-horizontal>

<ngx-chartjs-bar class=""></ngx-chartjs-bar>

<ngx-chartjs-line class=""></ngx-chartjs-line>

<ngx-chartjs-multiple-xaxis class=""></ngx-chartjs-multiple-xaxis>

<ngx-chartjs-pie class=""></ngx-chartjs-pie>

<ngx-chartjs-radar class=""></ngx-chartjs-radar> -->

<!-- <ngx-echarts-area-stack class=""></ngx-echarts-area-stack>

<ngx-echarts-bar-animation class=""></ngx-echarts-bar-animation>

<ngx-echarts-bar class=""></ngx-echarts-bar>

<ngx-echarts-line class=""></ngx-echarts-line>

<ngx-echarts-multiple-xaxis class=""></ngx-echarts-multiple-xaxis>

<ngx-echarts-pie class=""></ngx-echarts-pie>

<ngx-echarts-radar class=""></ngx-echarts-radar> -->