<ng-template #modalPassSeccion id="modalPassSeccion" let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Password: </h4>
  </div>
  <div class="modal-body">
    
    <div class="form-group">
      <input type="password" placeholder="Password" class="form-control" [(ngModel)]="password_seccion" maxlength="20" />
    </div>
    
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click'); goBack()">Cancelar</button>
    <button type="button" class="btn btn-danger" (click)="c('Close click'); validarPassSeccion()" [disabled]="!password_seccion">Aceptar</button>
  </div>
</ng-template>

<ng-template #modalPassGeneral id="modalPassGeneral" let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Password general: </h4>
  </div>
  <div class="modal-body">
    
    <div class="form-group">
      <input type="password" placeholder="Password" class="form-control" [(ngModel)]="password_general" maxlength="20" />
    </div>
    
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click'); goBack()">Cancelar</button>
    <button type="button" class="btn btn-danger" (click)="c('Close click'); validarPassGeneral()" [disabled]="!password_general">Aceptar</button>
  </div>
</ng-template>

<ng-template #modalPassOperador id="modalPassOperador" let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Password de Operador: </h4>
  </div>
  <div class="modal-body">
    
    <div class="form-group">
      <input type="password" placeholder="Password" class="form-control" [(ngModel)]="password_operador" maxlength="20" />
    </div>
    
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click'); goBack()">Cancelar</button>
    <button type="button" class="btn btn-danger" (click)="c('Close click'); validarPassOperador()" [disabled]="!password_operador">Aceptar</button>
  </div>
</ng-template>

<toaster-container [toasterconfig]="config"></toaster-container>

<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '4px' }"></ngx-loading>
</div>
